*{
    margin: 0;
    padding: 0;
}
.container1{
    text-align: center;
    align-items: center;
    background-image: url(assets/pizza.png);
    color: honeydew;
    background-repeat: no-repeat;
    background-size: cover;
}
