*{
    margin: 0;
    padding: 0;
}

.header{
    height: 100px;

}
.navbar{
    box-shadow: 0 5px;
    color: #000;
}

.logo{
     height: 40px;
     padding:2px ;    
}
.welcome{
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    padding-bottom: 30em;
    margin-bottom: 30px;
}
#backvideo{
    align-content: center;
    z-index: -1;
    padding-right: 3000em;
    position: sticky;
}
