*{
    margin: 0;
    padding: 0;
}
.welcome{
    text-align: center;
    font-size: 500;
    color: white;
    font: caption;

}
h1{
    color: white;
}
p{
    color: red;
}

.pizza-img{
    width: 200px;
    height: 200px;

}
.pizza1{
    border: 1px; color: black;
    border-radius: 10px;
    margin: 30px;
}
#mush{
    width: 280px;
}
.container1{
    text-align: center;
    background-image: url(assets/mush.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}